## Gera informação fictícia

In [ ]:
import csv
import random
from faker import Faker

fake = Faker()

produtos = ['Produto A', 'Produto B', 'Produto C', 'Produto D']
categorias = ['Categoria 1', 'Categoria 2', 'Categoria 3']
localidades = ['Cidade A', 'Cidade B', 'Cidade C']
metodos_pagamento = ['Cartão de Crédito', 'Dinheiro', 'Transferência', 'Pix']

def generate_random_data(num_rows):
    data = []
    for _ in range(num_rows):
        data_de_venda = fake.date_between(start_date='-1y', end_date='today')
        produto = random.choice(produtos) if random.random() > 0.1 else ''
        categoria = random.choice(categorias) if random.random() > 0.1 else None
        preco = round(random.uniform(10, 1000), 2) if random.random() > 0.1 else 'N/A'
        quantidade_vendida = random.randint(1, 50) if random.random() > 0.1 else ''
        localidade = random.choice(localidades) if random.random() > 0.1 else 'Desconhecida'
        metodo_pagamento = random.choice(metodos_pagamento) if random.random() > 0.1 else 'Invalido'

        data.append([
            data_de_venda,
            produto,
            categoria,
            preco,
            quantidade_vendida,
            localidade,
            metodo_pagamento
        ])

    return data

num_rows = 2000000
random_data = generate_random_data(num_rows)

csv_file_path = 'vendas_random.csv'
with open(csv_file_path, mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerow(['Data de venda', 'Produto', 'Categoria', 'Preço', 'Quantidade Vendida', 'Localidade', 'Método de Pagamento'])
    writer.writerows(random_data)

# Lê informações do arquivo gerado

In [1]:
import pandas as pd

data = pd.read_csv('vendas_random.csv')
data

,Data de venda,Produto,Categoria,Preço,Quantidade Vendida,Localidade,Método de Pagamento
0,2023-10-31,Produto C,Categoria 3,367.59,2.0,Cidade A,Pix
1,2024-08-26,Produto D,NaN,284.11,5.0,Cidade B,Invalido
2,2024-04-21,Produto C,Categoria 3,555.25,NaN,Cidade A,Transferência
3,2024-05-06,Produto B,Categoria 1,36.95,2.0,Cidade B,Cartão de Crédito
4,2024-04-20,Produto D,Categoria 2,NaN,2.0,Cidade C,Dinheiro
...,...,...,...,...,...,...,...
1999995,2024-09-20,Produto C,Categoria 3,248.21,23.0,Cidade C,Pix
1999996,2024-08-23,Produto A,NaN,NaN,13.0,Cidade C,Invalido
1999997,2023-11-26,Produto B,Categoria 2,346.15,27.0,Cidade C,Transferência
1999998,2024-01-31,Produto A,Categoria 3,NaN,43.0,Cidade A,Dinheiro
1999999,2024-09-13,Produto C,Categoria 3,458.57,37.0,Cidade C,Dinheiro

<bound method Series.unique of 0          Produto C
1          Produto D
2          Produto C
3          Produto B
4          Produto D
             ...
1999995    Produto C
1999996    Produto A
1999997    Produto B
1999998    Produto A
1999999    Produto C
Name: Produto, Length: 2000000, dtype: object>